<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{weather.name}}</ion-title>
    <ion-avatar slot="end">
      <img [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text>Actual weather in {{weather.name}}: {{weather.weather[0].main}} ({{weather.weather[0].description}})
    </ion-text>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="thermometer-outline"></ion-icon>
      <ion-label>
        Feels like {{weather.main.feels_like}} ℃
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="thermometer-outline"></ion-icon>
      <ion-label>
        Actual temperature {{weather.main.temp}} ℃
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="thermometer-outline"></ion-icon>
      <ion-label>
        Max temperature {{weather.main.temp_max}} ℃
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="thermometer-outline"></ion-icon>
      <ion-label>
        Min temperature {{weather.main.temp_min}} ℃
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-card color="warning">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="sunny-outline"></ion-icon>
            Sunset
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{weather.sys.sunset | date: 'hh:mm'}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="moon-outline"></ion-icon>
            Sunrise
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{weather.sys.sunrise | date: 'hh:mm'}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-card color="warning">
        <ion-card-header>
          <ion-card-title>Wind</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <ion-list class="ion-no-padding">
            <ion-item color="warning">
              <ion-label>
                Deg: {{weather.wind.deg}}
              </ion-label>
            </ion-item>
            <ion-item color="warning">
              <ion-label>
                Gust: {{weather.wind.gust}}
              </ion-label>
            </ion-item>
            <ion-item color="warning">
              <ion-label>
                Speed: {{weather.wind.speed}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>Humidity & Pressure</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <ion-list class="ion-no-padding">
            <ion-item color="secondary">
              <ion-label>
                {{weather.main.humidity}} %
              </ion-label>
            </ion-item>
            <ion-item color="secondary">
              <ion-label>
                {{weather.main.pressure}} hPa
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>