<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="testStorage()">Test storage</ion-button>
  
  <!-- Loop of observable array -->
  <ng-container *ngFor="let item$ of weather$">
    <!-- card component with weather from API, open detail actions -->
    <ion-card *ngIf="item$ | async; let weather" routerLink="/detail" (click)="openDetail(weather)">
      <!-- card show only if data (observable) downloaded from server | async in if -->
      <!-- let weather = data injected from if async state -->
      <ion-card-header>
        <ion-card-subtitle>Počasí pro</ion-card-subtitle>
        <!-- show data -->
        <ion-card-title>
          <ion-row class="ion-no-padding ion-align-items-center">
            <ion-col class="ion-no-padding">
              {{weather.name}}
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-chip>
                <ion-label>Actual: {{weather.main.temp}} ℃</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-header>

      <!-- set to no-padding for consistent UI/UX -->
      <ion-card-content>
        <!-- show data -->
        <ion-row class="ion-no-padding">
          <ion-col>
            <img [alt]="weather.weather[0].description" [title]="weather.weather[0].description"
                 [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'">
          </ion-col>
          <ion-col class="ion-no-padding ion-text-right">
            <ion-chip color="primary">
              <ion-label>Min: {{weather.main.temp_min}} ℃</ion-label>
            </ion-chip>
            <ion-chip color="danger">
              <ion-label>Max: {{weather.main.temp_max}} ℃</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>